:root {
    --boxSize: 10vw;
    --border: 0.1vw
}

.container {
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

// OLD Style using Flexbox row wrap -- It is not the proper solution 
// New solution using grid fits perfectly exact!!!
// .board {
//     width: calc(0.7vw + var(--boxSize)*3);
//     height: calc(0.7vw + var(--boxSize)*3);
//     flex-direction: row ;
//     display: flex;
//     flex-flow:row wrap;  
//     border: 0.1vw solid;

// }

.board {
    display: grid;    
    grid-template-columns: repeat(3,  var(--boxSize));   
    grid-template-rows: repeat(3, var(--boxSize)); 
    grid-gap: var(--border);
    border: var(--border) solid;
}

.main{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 50vw;
}

.options{
    display: flex;
    width: 15vw;
    flex-direction: column;
    justify-content: center;
    gap: 3vh;
    padding: 0 6vw;

}

.box {
    width: var(--boxSize);
    height: var(--boxSize);
    border: 0.1vw solid;
    display: flex;
    font: 8vw bold;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1080px) {
    :root {
        --boxSize: 10vw;
    }
    .container {
        flex-direction: column;
        width: 100vw;
    }
    .main{
        height: 60vh;
        width: 100vw;
    }
    .options{
        flex-direction: row;    
        width: 80vw;
        font-size: 5vw;
    }
    #humanFirstButton {
        display: none;
    }
    

}

@media screen and (max-width: 600px) {
    :root {
        --boxSize: 25vw;
    }
    .container {
        flex-direction: column;
        width: 100vw;
    }
    .main{
        height: 80vh;
        width: 100vw;
    }
    .options{
        flex-direction: row;    
        width: 80vw;
        font-size: 3vw;
        height: 5vh;
    }
    #humanFirstButton {
        display: none;
    }
    .box{
        font-size: 20vw;
    }

}